svg[class*="logo__"] {
    
    position: absolute;
    left: 200px;
    align-content: center;
    opacity: 0.85;
    

}
#name {
    
    font-size: 30px;
    font-weight: bold;



}
section.FavoriteCard {
    border: 2px solid black;
    border-radius: 10%;
    margin-right:300px;
    margin-left: 10px;
    margin-bottom:10px;
}

#writing {
    
    justify-content: center;
    text-align: center;
    padding-right: 80px;
}

div.fav{
    min-width: 400px;
    overflow: hidden;
    display:inline-block;
}
button {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border-style: double;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 110px;

}
