svg[class*="logo__"] {
    
    position: absolute;
    left: 200px;
    align-content: center;
    opacity: 0.85;
    

}
#name {
    
    font-size: 30px;
    font-weight: bold;

}
section.FavoriteCard {
    border: 2px solid black;
    margin-right:300px;
    margin-left: 10px;
}

#writing {
    
    justify-content: center;
    text-align: center;
    padding-right: 80px;
}

div.fav{
    min-width: 400px;
    overflow: hidden;
    display:inline-block;
}
